.spreadsheet--cell.border.border-dotted.border-gray-300.p-0.text-sm.p-1{class: component_classnames, tabindex: 0, data: data, draggable: dragsum }
  .spreadsheet--cell-display.p-1.w-full.mt-auto{class: numeric_class, data: { "#{component_controller}": { target: "display" }, action: "dblclick->#{component_controller}#showInput"}}
    .inline-block.searchable
      = content
    - if expander
      .collapse-control.inline-block.transform.transition-transform.duration-200.ease-in.cursor-pointer{ data: { action: "click->#{parent_component_controller}#collapse" }}
        = octicon "triangle-down"
    - if actions_menu
      %sl-dropdown.cell_actionmenu
        .p-1.text-gray-500.cursor-pointer(slot="trigger"){class: actions_menu_label_classes}
          %sl-icon(name=actions_menu_icon)
          = actions_menu_label
        %sl-menu.text-xs
          = actions_menu

  - unless readonly
    %input.bg-white.text-black.w-full.p-1.hidden{id: random_id, type: "text", value: value, class: numeric_class, disabled: disabled, readonly: readonly, data: input_data }
