.spreadsheet--header{class: component_classnames, data: { controller: component_controller, action: "contextmenu->#{component_controller}#menu"}}
  = content
  - columns.each do |column|
    = render column

  - if show_dropdown?
    %sl-dropdown.absolute.p-2.inset-y-0.right-0.min-h-full
      .text-gray-100.text-gray-100.cursor-pointer.my-auto(slot="trigger")
        = octicon "kebab-horizontal"
      = actions_menu

  %sl-menu#context-menu.hidden.text-xs{data: {target: "#{component_controller}.contextMenu"}}
    - if show_context_menu?
      = context_menu
    - else
      %sl-menu-label.text-left.text-xs Show/Hide Columns
      - columns.each do |column|
        - next if locked.include?(column.id)
        %sl-menu-item{checked: true, data: {id: column.id, action: "click->#{component_controller}#toggleColumn"} }
          .text-xs
            =column.label
= render Spreadsheet::Search.new
